langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.23
langchain-chroma==0.1.4
chromadb==0.5.3
sentence-transformers==2.7.0
streamlit==1.38.0
python-dotenv==1.0.1
pypdf==4.3.1
unstructured==0.15.13
